body {
    font-family: 'Mooli', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #7cd2dd;
}

/* Estilo para los títulos */
h1, h2 {
    color: #333;
    
    padding: 10px;
}

/* Estilo para los enlaces */
a {
    text-decoration: none;
    color: #0077cc ;
    
}

a:hover {
    text-decoration: underline;
}

/* Estilo para las listas */
ul, ol {
    margin-left: 20px;
}

/* Estilo para los párrafos */
p {
    line-height: 1.4;
}

/* Estilo para la sección de preguntas frecuentes */
#pregunta1, #pregunta2 {
    margin-top: 30px;
}

/* Estilo para la barra de navegación */
ul {
    
    margin: 0px ;
    list-style-type: none ;
     
}

ul li {
    display: inline;
    margin-right: 20px;
}

ul li a {
    color: #fff;
    font-weight: bold;



}