body{
   background-color: blanchedalmond;
   font-family: 'Mooli', sans-serif;
   margin: 0;
   padding: 0;
}




.collage {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Divide en 3 columnas iguales */
    grid-gap: 10px; /* Espacio entre las imágenes */
}

.imagen{
    width: 100%;
    max-width: 700px; /* Ancho máximo para cada imagen */
    height: auto;
    border: 2px solid #65e6df;


}

header{
    display: flex;
    justify-content: space-around;
    min-height: 70px;
    background-color: rgb(85, 173, 255);
    align-items: center;
    padding: 0 auto ;
    border:4px solid rgb(0, 0, 0);
    

}






